{% extends "admin/mptt_change_list.html" %}
{% load i18n %}
{% load url from future %}

{% block object-tools-items %}
    <li>
      <a href="{% url 'admin:treenav_clean_cache' %}{% if is_popup %}?_popup=1{% endif %}" title="{% trans 'Remove all MenuItems from Cache' %}">
        {% trans 'Clean Menu Cache' %}
      </a>
    </li>
    <li>
      <a href="{% url 'admin:treenav_refresh_hrefs' %}{% if is_popup %}?_popup=1{% endif %}" title="{% trans 'Refresh all cached menu item HREFs in the database' %}">
        {% trans 'Refresh HREFs' %}
      </a>
    </li>
    {{ block.super }}
{% endblock %}
