<!DOCTYPE html>
<html>
    <head>
        <title>django-treenav</title>
        <style type="text/css">
            body {
                font-family: Arial, "MS Trebuchet", sans-serif;
            }
            a {
                color: blue;
            }
            a.active-menu-item-link {
                color: green;
            }
            ul {
                background-color: #EEE;
            }
        </style>
    </head>
    <body>
        {% load treenav_tags %}
        <h1>django-treenav</h1>
        <p>To view a demo, create a new menu tree in the Django <a href='{% url admin:index %}'>admin</a> and set the root menu item slug to "primary-nav".</p>
        <h2>show_treenav</h2>
        {% show_treenav "primary-nav" %}
        <h2>single_level_menu</h2>
        <h3>Level 0</h3>
        {% single_level_menu "primary-nav" 0 %}
        <h3>Level 1</h3>
        {% single_level_menu "primary-nav" 1 %}
        <h2>show_menu_crumbs</h2>
        {% show_menu_crumbs "primary-nav" %}
    </body>
</html>
